**bitwise operators**

In [3]:
print(8 & 12)
print(0xE & 0XF)

8
14

In [4]:
print(8 | 12)
print(0xE | 0XF)

12
15

In [5]:
print(8 ^ 12)
print(0xE ^ 0XF)

4
1

**LEFT AND RIGHT SHIFT**

In [7]:
print(10 >>1)
print(10 >> 2)

5
2

In [8]:
print(10 <<1)
print(10 << 2)

20
40

**assignment operators**

In [15]:
a=8
print(a)
a+=3
print(a)
a-=6
print(a)
a*=6
print(a)
a/=6
print(a)
a%=6
print(a)
a//=6
print(a)
a**=6
print(a)
a=10
a &=6
print(a)
a|=6
print(a)
a<<=6
print(a)
a>>=6
print(a)

8
11
5
30
5.0
5.0
0.0
0.0
2
6
384
6

identity and membership operators

In [22]:
x=["hubli","belgaum"]
y=["hubli","belgaum"]
z=x
print(z is x)
print(x is y)

True
False

In [24]:
x=["hubli","belgaum"]
y=["hubli","belgaum"]
z=x
z=y
print(z is x)
print(x is y)
print(z is y)

False
False
True

In [25]:
x=["hubli","belgaum"]
y=["hubli","belgaum"]
z=x
z=y
print(z is not x)
print(x is y)
print(z is y)

True
False
True

In [29]:
x=["hubli","belgaum"]
y=["hubli","belgaum"]

print("hubli" in x)
print("Hubli" in x)

True
False

**while and for loop**

In [37]:
num=int(input("enter the number"))
while num<=9:
  print("number is single digit")
  break
while num>9 and num<=99:
  print("the number is double digit")
  break
else:
  print("has more than 2 digits")

enter the number55
the number is double digit

In [38]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [39]:
for x in range(1,6):
  print(x)

1
2
3
4
5

In [41]:
for x in range(1,20,3):
  print(x)

1
4
7
10
13
16
19

In [42]:
for x in range(9):
  print("single digit number")

single digit number
single digit number
single digit number
single digit number
single digit number
single digit number
single digit number
single digit number
single digit number

In [43]:
for x in range(5,9):
  print("single digit number")

single digit number
single digit number
single digit number
single digit number

In [44]:
for x in range(5,9):
  print("single digit number")
for x in range(0,99,10):
  print("double digit number")

single digit number
single digit number
single digit number
single digit number
double digit number
double digit number
double digit number
double digit number
double digit number
double digit number
double digit number
double digit number
double digit number
double digit number

In [46]:
places=["hubli", "haveri","belgaum","bangalore"]
for x in places:
  print(x)
  if x=="belgaum":
    print("found")
    break

hubli
haveri
belgaum
found