# ***My first program***

In [ ]:
print("i am priyanka")

i am priyanka

In [ ]:
a+b

**variable declaration**
rule 1: variable should always start with an alphabet or _
rule 2: variable declaration should not start with some numbers or special characters. ex: 1stnum=5
rule 3: variable declaration is case sensitive
Name=90
NamE=70

In [ ]:
a=5
b=9
sum=a+b
print(sum)
print("sum")

14
sum

Data types

In [ ]:
name="priyanka"
print(type(name))

<class 'str'>

In [ ]:
num1=69
num2=44.4
num3=5j
num4=-66
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>

In [ ]:
lis=['kau','123','30.45']
type(lis)

list

In [ ]:
print(lis)

['kau', '123', '30.45']

In [ ]:
lis2=['apple','200','india','apple,']
print(len(lis))
print(len(lis2))
lis3=lis+lis2
print(lis3)
print(len(lis3))

3
4
['kau', '123', '30.45', 'apple', '200', 'india', 'apple,']
7

In [ ]:
lis2.append("dharwad")

In [ ]:
lis2

['apple',
 '200',
 'india',
 'apple,',
 'hubli',
 'hubli',
 'hubli',
 'hubli',
 'hubli',
 'dharwad']

In [ ]:
lis2.clear()

In [ ]:
lis=['kk','kle','jhe']
lis[0]

'kk'

In [ ]:
lis[2]

'jhe'

In [ ]:
lis.sort()
lis

['jhe', 'kk', 'kle']

In [ ]:
tuple1=("hubli", "kle","hubli")

In [ ]:
print(type(tuple1))

<class 'tuple'>

In [ ]:
tuple2=("hubli")

In [ ]:
print(type(tuple2))

<class 'str'>

In [ ]:
tuple21=("hubli",)
print(type(tuple21))

<class 'tuple'>

In [ ]:
tuple3=(1,2,3,4,5)
print(type(tuple3))

<class 'tuple'>

In [ ]:
tuple4=("asdf","123",1,1,2,3,5,True)
print(type(tuple4))

<class 'tuple'>

In [ ]:
tuple1=("hubli", "belgaum","hubli")
print((tuple1[0]))
print((tuple1[1]))
print((tuple1[2]))
print((tuple1)[-1])

hubli
belgaum
hubli
hubli

In [ ]:
tuple6=tuple1+tuple1
print(tuple6)

('hubli', 'belgaum', 'hubli', 'hubli', 'belgaum', 'hubli')

In [ ]:
tuple7=tuple6*2
print(tuple7)
y=tuple7.index('hubli')
print(y)
x=tuple7.count('hubli')
print(x)

('hubli', 'belgaum', 'hubli', 'hubli', 'belgaum', 'hubli', 'hubli', 'belgaum', 'hubli', 'hubli', 'belgaum', 'hubli')
0
8

In [ ]:
x=("hubli","belgaum","blore")
print(type(x))

<class 'tuple'>

In [ ]:
y=list(x)
y[2]="mumbai"
x=tuple(y)
print(x)

('hubli', 'belgaum', 'mumbai')

In [ ]:
set1={"red","blue","black","red"}
print(set1)
set1.add('orange')
print(set1)
set2={"ball","bat","wicket"}
set1.update(set2)
print(set1)

{'red', 'blue', 'black'}
{'red', 'blue', 'black', 'orange'}
{'red', 'blue', 'bat', 'wicket', 'orange', 'ball', 'black'}

In [ ]:
dict1={ "name":"priyanka",
        "age":"20",
        "gender":"female",
        "year":"2022",
        "year":"2015"}
print(dict1)

{'name': 'priyanka', 'age': '20', 'gender': 'female', 'year': '2015'}

In [ ]:
print(type(dict1))

<class 'dict'>

In [ ]:
dict2=dict(fruit="banana",dessert="cake")
print(dict2)
print(type(dict2))

{'fruit': 'banana', 'dessert': 'cake'}
<class 'dict'>

looping

In [ ]:
a=input("enter the value of a")
b=input("enter the value of b")
print(a)
print(b)

enter the value of a2
enter the value of b3
2
3

In [ ]:
if a>b:
  print("the value of a is greater than b")
if a==b:
  print("both a and b are same")
else:
  print("b is greater than a")

b is greater than a

In [5]:
ball1_colour="green"
ball2_colour="blue"
ball3_colour="red"
ball4_colour="white"

pick_ball=input("please pick a ball")

if pick_ball==ball1_colour:
  print("green ball is picked")

elif pick_ball==ball2_colour:
  print("blue ball is picked")

elif pick_ball==ball3_colour:
  print("red ball is picked")

else :
  print("white ball is picked")

please pick a ballwhite
white ball is picked

**python operators arithematic operators**

In [7]:
x=12
y=4

sum =x+y
diff=x-y
prod=x*y
div=x/y
fdiv=x//y
mod=x%y
power=x**y
print(sum)
print(diff)
print(prod)
print(div)
print(fdiv)
print(mod)
print(power)

16
8
48
3.0
3
0
20736

logical and comparison operators

In [13]:
age=int(input("enter the age"))
print(age>18 and age<60)
print(age>18 or age<21)

enter the age19
True
True